name: run-script
on: workflow_dispatch

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install deps
        run: pip install --upgrade pip && pip install numpy scratchconnect

      - name: Run script
        env:
          SCRATCH_USERNAME: ${{ secrets.SCRATCH_USERNAME }}
          SCRATCH_PASSWORD: ${{ secrets.SCRATCH_PASSWORD }}
        run: python script.py

      - name: Upload save_file.npy
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: save-file
          path: save_file.npy
          
      - name: Download save-file
        uses: actions/download-artifact@v4
        with:
          name: save-file
          path: .
      - name: Inspect
        run: ls -l save_file.npy
